ignore-scripts=false
legacy-peer-deps=true
strict-peer-dependencies=false
auto-install-peers=true
engine-strict=false
save-exact=true
loglevel=error
package-lock=false
fund=false
audit=false
update-notifier=false

# ESLintとTypeScriptを無視
ignore-engines=true 