:root {
        @media (max-width: 834px) {
          --sectionMT: 80px;
          --sectionPY: 80px;
        }
      }

body {
        line-height: 2;
        font-family: "Jost", "Zen kaku Gothic New";
}

main>* {
        position: relative;
        width: var(--base);
        max-width: calc(100% - var(--spaceX) * 2);
        margin-inline: auto;

        +* {
                margin-top: var(--sectionMT);
        }
}

main a {
        font-size: 1.375em;
}

.fullWidth {
        width: 100%;
        max-width: 100%;
}

.fullWidthIn {
        width: 100%;
        max-width: 100%;
        padding-inline: var(--inBase);
}

.container {
        padding-inline: 0;
        width: var(--base);
        max-width: calc(100% - var(--spaceX) * 2);
}

:root {
        --mmFZ: 2rem;

        @media (max-width: 640px) {
                --mmFZ: 1.25rem;
        }
}

:where(.mindMap) {
        // aspect-ratio: 2/1;
        height: 100vh;
        font-size: var(--mmFZ);
        align-content: center;

        >* {
                font-weight: inherit;
                display: inline-block;
                cursor: default;
                transition: .4s;
                line-height: 1;
        }

        >*:not(.mmStatic):hover {
                font-weight: 200;
        }

        >div {
                font-weight: inherit;
                cursor: default;
                text-align: left;
                line-height: 2;
        }
        >*:not(h1,h2,.about_tx,.about_p,.knowledge_tx){
                @media (max-width: 834px){
                    color: #bbb;
                    pointer-events: none;
                }
        }
}

.mindWobble {
        position: relative;z-index: 1;
        font-size: calc(var(--mmFZ)*5);
        @media (max-width: 1200px){
                font-size: calc(var(--mmFZ)*4);
        }
        line-height: 1;
        --mmWobbleAmp: 15;
        /* 全体振幅(px) */
        --mmWobbleAmpX: 15;
        /* 横振幅(px) */
        --mmWobbleAmpY: 15;
        /* 縦振幅(px) */
        --mmWobbleFreqX: 0.0003;
        /* 横周波数 */
        --mmWobbleFreqY: 0.0003;
        /* 縦周波数 */
        // >*{
        //         // &:hover {
        //         //         filter: url(#mm-warp-8);
        //         // }
        // }
}

.mmStatic {
        font-weight: 200;
        color: var(--gr);
}

.mmPin {
        position: absolute;
        font-weight: 200;
        color: var(--tc);
        font-size: var(--h1FZ);
        background-color: var(--wh50);
        z-index: 1;
        // padding: 1rem;
}

.about {

        // display: flex;
        // align-content: center;
        &_tx {
                line-height: 2;
                font-family: "Zen kaku Gothic New";
                // width: calc(var(--base)*0.5 );
                // max-width: 50%;
                // height: 100%;
                // right: var(--inBase);
                left: 50%;
                top: 50%;
                translate: 0 -50%;
                // width: calc(var(--base)*0.5 );
                // max-width: 50%;
                // height: 100%;
                // right: var(--inBase);

                z-index: 1;

                @media (max-width: 1080px) {
                        //         translate: -50% -0%;
                        //     width: fit-content;
                        padding: 1em;
                        position: relative;
                        inset: unset;
                        translate: unset;
                        //     text-align: center;
                }
        }

        &_p {
                // max-width: 50%;
                padding: 0.25em 1em;
                // height: 100%;
                // right: var(--inBase);
                right: 50%;
                bottom: 50%;
                translate: 0 50%;

                @media (max-width: 1080px) {
                        //         translate: -50% -0%;
                        //     width: fit-content;
                        position: relative;
                        inset: unset;
                        translate: unset;
                        //     text-align: center;
                }
        }
}

.knowledge {
        &_tx {
                line-height: 2;
                font-family: "Zen kaku Gothic New";
                // width: calc(var(--base)*0.5 );
                // max-width: 50%;
                // height: 100%;
                // right: var(--inBase);
                left: 50%;
                top: 50%;
                translate: 0 -50%;
                z-index: 1;

                @media (max-width: 960px) {
                        //         translate: -50% -0%;
                        //     width: fit-content;
                        padding: 1em;
                        position: relative;
                        inset: unset;
                        translate: unset;
                        //     text-align: center;
                }
        }

        &_bottom {
                left: 0;
                bottom: 0%;
                width: 100%;
                mix-blend-mode: difference;
                text-align-last: justify;
                padding: 0.25em 1em 0.375em;
        }
}
.creative {
        &_tx {
                line-height: 2;
                font-family: "Zen kaku Gothic New";
                // width: calc(var(--base)*0.5 );
                // max-width: 50%;
                // height: 100%;
                // right: var(--inBase);
                left: 50%;
                top: 50%;
                translate: 0 -50%;
                z-index: 1;

                @media (max-width: 960px) {
                        //         translate: -50% -0%;
                        //     width: fit-content;
                        padding: 1em;
                        position: relative;
                        inset: unset;
                        translate: unset;
                        //     text-align: center;
                }
        }
        &_bottom {
                background-color: var(--wh50);
                // left: 0;
                // bottom: 0%;
                width: 100%;
                mix-blend-mode: difference;
                padding: 0.25em 1em 0.375em;
        }
}

.sectionPY {
        padding-block: var(--sectionPY);
}

.inBase {
        padding-inline: var(--inBase);
}

.dl_center {
        dt {
                text-align: right;
        }
}


 
//       .MainVisual {
//          text-align: center; 
//       }
//       /* .ImgText {
//                     margin-top: var(--sectionMT);
//                   } */
//       /* .Cards {
//                     padding: var(--sectionPY) var(--sectionPX);
//                     background-color: #f5f5f5;
//                     margin-top: var(--sectionMT);
//                   } */
//       /* .Form {
//                     margin-top: var(--sectionMT);
//                   } */