@charset "UTF-8";
@media (max-width: 834px) {
  :root {
    --sectionMT: 80px;
    --sectionPY: 80px;
  }
}

body {
  line-height: 2;
  font-family: "Jost", "Zen kaku Gothic New";
}

main > * {
  position: relative;
  width: var(--base);
  max-width: calc(100% - var(--spaceX) * 2);
  margin-inline: auto;
}
main > * + * {
  margin-top: var(--sectionMT);
}

main a {
  font-size: 1.375em;
}

.fullWidth {
  width: 100%;
  max-width: 100%;
}

.fullWidthIn {
  width: 100%;
  max-width: 100%;
  padding-inline: var(--inBase);
}

.container {
  padding-inline: 0;
  width: var(--base);
  max-width: calc(100% - var(--spaceX) * 2);
}

:root {
  --mmFZ: 2rem;
}
@media (max-width: 640px) {
  :root {
    --mmFZ: 1.25rem;
  }
}

:where(.mindMap) {
  height: 100vh;
  font-size: var(--mmFZ);
  -ms-flex-line-pack: center;
      align-content: center;
}
:where(.mindMap) > * {
  font-weight: inherit;
  display: inline-block;
  cursor: default;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 1;
}
:where(.mindMap) > *:not(.mmStatic):hover {
  font-weight: 200;
}
:where(.mindMap) > div {
  font-weight: inherit;
  cursor: default;
  text-align: left;
  line-height: 2;
}
@media (max-width: 834px) {
  :where(.mindMap) > *:not(h1, h2, .about_tx, .about_p, .knowledge_tx) {
    color: #bbb;
    pointer-events: none;
  }
}

.mindWobble {
  font-size: calc(var(--mmFZ) * 5);
  line-height: 1;
  --mmWobbleAmp: 15;
  /* 全体振幅(px) */
  --mmWobbleAmpX: 15;
  /* 横振幅(px) */
  --mmWobbleAmpY: 15;
  /* 縦振幅(px) */
  --mmWobbleFreqX: 0.0003;
  /* 横周波数 */
  --mmWobbleFreqY: 0.0003;
  /* 縦周波数 */
}
@media (max-width: 1200px) {
  .mindWobble {
    font-size: calc(var(--mmFZ) * 4);
  }
}

.mmStatic {
  font-weight: 200;
  color: var(--gr);
}

.mmPin {
  position: absolute;
  font-weight: 200;
  color: var(--tx);
  font-size: var(--h1FZ);
  background-color: var(--wh50);
  z-index: 1;
}

.about_tx {
  line-height: 2.5;
  font-family: "Zen kaku Gothic New";
  left: 50%;
  top: 50%;
  translate: 0 -50%;
  z-index: 1;
}
@media (max-width: 1080px) {
  .about_tx {
    padding: 1em;
    position: relative;
    inset: unset;
    translate: unset;
  }
}
.about_p {
  padding: 0.25em 1em;
  right: 50%;
  bottom: 50%;
  translate: 0 50%;
}
@media (max-width: 1080px) {
  .about_p {
    position: relative;
    inset: unset;
    translate: unset;
  }
}

.knowledge_tx {
  line-height: 2;
  font-family: "Zen kaku Gothic New";
  left: 50%;
  top: 50%;
  translate: 0 -50%;
  z-index: 1;
}
@media (max-width: 960px) {
  .knowledge_tx {
    padding: 1em;
    position: relative;
    inset: unset;
    translate: unset;
  }
}
.knowledge_bottom {
  left: 0;
  bottom: 0%;
  width: 100%;
  mix-blend-mode: difference;
  -moz-text-align-last: justify;
       text-align-last: justify;
  padding: 0.25em 1em 0.375em;
}

.sectionPY {
  padding-block: var(--sectionPY);
}

.inBase {
  padding-inline: var(--inBase);
}

.dl_center dt {
  text-align: right;
}