@charset "UTF-8";
/* トップページ専用スタイル */
/* 入れ子構造のみ使用 */
body section .contoutL, footer .contoutL, header .contoutL, .blog #contents .contoutL {
  margin-left: var(--contout);
  max-width: unset;
}
body section .contoutR, footer .contoutR, header .contoutR, .blog #contents .contoutR {
  margin-right: var(--contout);
  max-width: unset;
}
body section .contout, footer .contout, header .contout, .blog #contents .contout {
  margin-inline: var(--contout);
  max-width: unset;
}
body section .incontL, footer .incontL, header .incontL, .blog #contents .incontL {
  padding-left: var(--incont);
}
body section .incontR, footer .incontR, header .incontR, .blog #contents .incontR {
  padding-right: var(--incont);
}
body section .incont, footer .incont, header .incont, .blog #contents .incont {
  padding-inline: var(--incont);
}
body section .in1800, footer .in1800, header .in1800, .blog #contents .in1800 {
  padding-inline: var(--in1800);
}
body section .in1740, footer .in1740, header .in1740, .blog #contents .in1740 {
  padding-inline: var(--in1740);
}
body section .in1680, footer .in1680, header .in1680, .blog #contents .in1680 {
  padding-inline: var(--in1680);
}
body section .in1620, footer .in1620, header .in1620, .blog #contents .in1620 {
  padding-inline: var(--in1620);
}
body section .in1560, footer .in1560, header .in1560, .blog #contents .in1560 {
  padding-inline: var(--in1560);
}
body section .in1500, footer .in1500, header .in1500, .blog #contents .in1500 {
  padding-inline: var(--in1500);
}
body section .in1440, footer .in1440, header .in1440, .blog #contents .in1440 {
  padding-inline: var(--in1440);
}
body section .in1380, footer .in1380, header .in1380, .blog #contents .in1380 {
  padding-inline: var(--in1380);
}
body section .in1320, footer .in1320, header .in1320, .blog #contents .in1320 {
  padding-inline: var(--in1320);
}
body section .in1200, footer .in1200, header .in1200, .blog #contents .in1200 {
  padding-inline: var(--in1200);
}
body section .in1080, footer .in1080, header .in1080, .blog #contents .in1080 {
  padding-inline: var(--in1080);
}
body section .in1000, footer .in1000, header .in1000, .blog #contents .in1000 {
  padding-inline: var(--in1000);
}
body section .in960, footer .in960, header .in960, .blog #contents .in960 {
  padding-inline: var(--in960);
}
body section .in840, footer .in840, header .in840, .blog #contents .in840 {
  padding-inline: var(--in840);
}
body section .in800, footer .in800, header .in800, .blog #contents .in800 {
  padding-inline: var(--in800);
}
body section .in720, footer .in720, header .in720, .blog #contents .in720 {
  padding-inline: var(--in720);
}
body section .in600, footer .in600, header .in600, .blog #contents .in600 {
  padding-inline: var(--in600);
}
body section .child1800 > *, footer .child1800 > *, header .child1800 > *, .blog #contents .child1800 > * {
  margin-inline: auto;
  width: min(100%, 1800px);
}
body section .child1740 > *, footer .child1740 > *, header .child1740 > *, .blog #contents .child1740 > * {
  margin-inline: auto;
  width: min(100%, 1740px);
}
body section .child1680 > *, footer .child1680 > *, header .child1680 > *, .blog #contents .child1680 > * {
  margin-inline: auto;
  width: min(100%, 1680px);
}
body section .child1620 > *, footer .child1620 > *, header .child1620 > *, .blog #contents .child1620 > * {
  margin-inline: auto;
  width: min(100%, 1620px);
}
body section .child1560 > *, footer .child1560 > *, header .child1560 > *, .blog #contents .child1560 > * {
  margin-inline: auto;
  width: min(100%, 1560px);
}
body section .child1500 > *, footer .child1500 > *, header .child1500 > *, .blog #contents .child1500 > * {
  margin-inline: auto;
  width: min(100%, 1500px);
}
body section .child1440 > *, footer .child1440 > *, header .child1440 > *, .blog #contents .child1440 > * {
  margin-inline: auto;
  width: min(100%, 1440px);
}
body section .child1380 > *, footer .child1380 > *, header .child1380 > *, .blog #contents .child1380 > * {
  margin-inline: auto;
  width: min(100%, 1380px);
}
body section .child1320 > *, footer .child1320 > *, header .child1320 > *, .blog #contents .child1320 > * {
  margin-inline: auto;
  width: min(100%, 1320px);
}
body section .child1260 > *, footer .child1260 > *, header .child1260 > *, .blog #contents .child1260 > * {
  margin-inline: auto;
  width: min(100%, 1260px);
}
body section .child1200 > *, footer .child1200 > *, header .child1200 > *, .blog #contents .child1200 > * {
  margin-inline: auto;
  width: min(100%, 1200px);
}
body section .child1120 > *, footer .child1120 > *, header .child1120 > *, .blog #contents .child1120 > * {
  margin-inline: auto;
  width: min(100%, 1120px);
}
body section .child1080 > *, footer .child1080 > *, header .child1080 > *, .blog #contents .child1080 > * {
  margin-inline: auto;
  width: min(100%, 1080px);
}
body section .child1020 > *, footer .child1020 > *, header .child1020 > *, .blog #contents .child1020 > * {
  margin-inline: auto;
  width: min(100%, 1020px);
}
body section .child960 > *, footer .child960 > *, header .child960 > *, .blog #contents .child960 > * {
  margin-inline: auto;
  width: min(100%, 960px);
}
body section .child900 > *, footer .child900 > *, header .child900 > *, .blog #contents .child900 > * {
  margin-inline: auto;
  width: min(100%, 900px);
}
body section .child840 > *, footer .child840 > *, header .child840 > *, .blog #contents .child840 > * {
  margin-inline: auto;
  width: min(100%, 840px);
}
body section .child780 > *, footer .child780 > *, header .child780 > *, .blog #contents .child780 > * {
  margin-inline: auto;
  width: min(100%, 780px);
}
body section .child720 > *, footer .child720 > *, header .child720 > *, .blog #contents .child720 > * {
  margin-inline: auto;
  width: min(100%, 720px);
}
body section .child660 > *, footer .child660 > *, header .child660 > *, .blog #contents .child660 > * {
  margin-inline: auto;
  width: min(100%, 660px);
}
body section .child600 > *, footer .child600 > *, header .child600 > *, .blog #contents .child600 > * {
  margin-inline: auto;
  width: min(100%, 600px);
}
body section .child540 > *, footer .child540 > *, header .child540 > *, .blog #contents .child540 > * {
  margin-inline: auto;
  width: min(100%, 540px);
}
body section .child480 > *, footer .child480 > *, header .child480 > *, .blog #contents .child480 > * {
  margin-inline: auto;
  width: min(100%, 480px);
}

:root {
  /* --bl025:calc(var(--bl)/4);
  --bl03:calc(var(--bl)/3);
  --bl05:calc(var(--bl)/2);
  --bl06:calc(var(--bl)/3*2);
  --bl075:calc(var(--bl)/4*3);
  --Nbl15:calc(var(--bl)*-1.5);
  --Nbl05:calc(var(--bl)*-0.5);
  --Nbl075:calc(var(--bl)*-0.75);
  --Nbl2:calc(var(--bl)*-2.0);
  --Nbl:calc(var(--bl)*-1.0);
  --Nbl1:calc(var(--bl)*-1.0);
  --bl:calc(var(--bl)*1.0);
  --bl1:calc(var(--bl)*1.0);
  --bl15:calc(var(--bl)*1.5);
  --bl2 :calc(var(--bl)*2.0);
  --bl25:calc(var(--bl)*2.5);
  --bl3 :calc(var(--bl)*3.0); */
  --incont:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), (var(--base) / 2) ));
  --in1800:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 900px ));
  --in1740:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 870px ));
  --in1728:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 864px ));
  --in1680:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 840px ));
  --in1620:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 810px ));
  --in1560:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 780px ));
  --in1536:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 768px ));
  --in1500:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 750px ));
  --in1440:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 720px ));
  --in1380:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 690px ));
  --in1320:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 660px ));
  --in1200:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 600px ));
  --in1080:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 540px ));
  --in1000:calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 500px ));
  --in960: calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 480px ));
  --in800: calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 400px ));
  --in840: calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 420px ));
  --in720: calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 360px ));
  --in600: calc(50vw - clamp(0px,50vw - var(--spaceX,20px), 300px ));
  --contout:calc(50% - 50vw );
}

.container {
  padding-inline: 0;
  width: var(--base);
  max-width: calc(100% - var(--spaceX) * 2);
}
.left-incont {
  left: var(--incont);
}

section {
  width: var(--base);
  margin-inline: auto;
}/*# sourceMappingURL=top.css.map */